/* --------- page --------- */
page {
  font-size: 14px;
  height: 100%;
  .page-wrapper {
    box-sizing: border-box;
  }
}

/* --------- hover-class:"hover" --------- */
.hover {
  background: rgba(121, 121, 121, 0.1) !important;
}

/* --------- 超出省略 ... --------- */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* --------- bg color --------- */

@blue: #1e9fff; // tech-bgc
@black: #393d49; // nav
@mint: #5fb878; // isSelected
@teal: #009688; // button decoration
@orange: #ffb800; // notice
@red: #ff5722; // awesome
@blue-1: #01aaed; // text、link
@bar: #2f4056; // footer、siderbar

/* --------- grey series --------- */

@grey: #c2c2c2;
@grey-1: #d2d2d2;
@grey-2: #dddddd;
@grey-3: #e2e2e2;
@grey-4: #eeeeee;
@grey-5: #f2f2f2;
@grey-6: #f0f0f0;

/* --------- button --------- */

.btn-lg {
}

.btn-md {
}

.btn-sm {
}
